@layer components {
  .blog-content {
    @apply overflow-x-auto;
  }

  .blog-content code:not(.hljs) {
    @apply mx-[0.2em] rounded-[4px] bg-[#21511012] p-[0.3em_0.4em] align-[.08em] text-[0.85em] font-bold !text-inherit;
  }

  .blog-content iframe {
    @apply w-full;
  }

  .blog-content img {
    padding: 10px;
    box-shadow: 0 0 5px rgb(0 0 0 / 25%);
    width: calc(100% - 6px);
    margin: 1rem auto;
  }

  .blog-content p {
    @apply mb-[1em] leading-loose;
  }

  .blog-content ul,
  .blog-content ol {
    @apply list-inside leading-[1.8];
  }

  .blog-content ol {
    @apply list-decimal;
  }

  .blog-content ul {
    @apply list-disc;
  }

  .blog-content h2 {
    @apply mt-[2em] mb-[0.8em] border-b border-gray-200 pb-[0.2em] text-[clamp(24px,4vw,30px)] font-bold;

    font-feature-settings: 'palt';
  }

  .blog-content h3 {
    @apply mt-[1.6em] mb-[0.5em] text-[clamp(20px,3vw,26px)] font-bold;

    font-feature-settings: 'palt';
  }

  .blog-content h4 {
    @apply mt-[1.2em] mb-[0.2em] text-[clamp(18px,2vw,22px)] font-bold;

    font-feature-settings: 'palt';
  }

  .blog-content blockquote {
    position: relative;
    padding: 10px 15px 10px 50px;
    background: #efefef;
    color: #555;
    margin: 1em 0;
  }

  .blog-content blockquote::before {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 5px;
    content: '“';
    font-family: sans-serif;
    color: #cfcfcf;
    font-size: 90px;
    line-height: 1;
  }

  .blog-content blockquote p {
    padding: 0;
    margin: 10px 0;
    line-height: 1.7;
  }

  .blog-content blockquote cite {
    display: block;
    text-align: right;
    color: #888888;
    font-size: 0.9em;
  }

  .blog-content a {
    @apply inline-block break-all leading-snug text-blue-500;
  }

  .blog-content a:hover {
    text-decoration: underline;
  }
}
